<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xpertwebtech.gfoods">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mainlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logoo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Splash_Screen_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OrderHitoryActivity" />
        <activity android:name=".AddPlanActivity" />
        <activity android:name=".DeliverdProductDetails" />
        <activity android:name=".CalenderWiseActivity" />
        <activity android:name=".ContactUs" />
        <activity android:name=".PravacyPolicyPage" />
        <activity android:name=".OrderActivity" />
        <activity android:name=".DeliveryBoySinup" />
        <activity android:name=".DeliveryBoyActivityLogin" />
        <activity android:name=".EndVavationActivity" />
        <activity android:name=".MonthlyWiseBillActivity" />
        <activity android:name=".AddMoneyLyoutActivity" />
        <activity android:name=".ViewBillActivity" />
        <activity android:name=".SelectPayemnt" />
        <activity android:name=".AddPlaneActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".OffersActivity" />
        <activity android:name=".MyPlanActivity" />
        <activity android:name=".MyProfileActivty" />
        <activity android:name=".MyWalletActivity" />
        <activity android:name=".ViewVacationActivtiy" />
        <activity android:name=".EarnAndRefferActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ChooseCityActivity" />
        <activity android:name=".ChooseStateActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplaashScreen">

        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="instamojo.orderauth.url"
            android:value="ur website name/access_token.php" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="C14D39C4BAEAAC289E9B9F0CAA1CF274" />
        <receiver android:name="constants.Otp_Reciver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>